<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mdp_new">
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MDP Group 45"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDPNEW">
        <activity
        android:name=".MainActivity"
        android:label="MDP Group 45"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
            <activity
                android:name=".Bluetooth"
                android:label="Bluetooth"
                android:exported="true"
                android:parentActivityName=".MainActivity"/>
            <activity
                android:name=".Communication"
                android:label="Communication"
                android:exported="true"
                android:parentActivityName=".MainActivity"/>
            <activity
            android:name=".Arena"
            android:label="Arena"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
    </application>
</manifest>